.idea
app/autoload.php
app/bootstrap.php
app/etc
app/functions.php
auth.json.sample
bin/
CHANGELOG.md
composer.lock
CONTRIBUTING.md
COPYING.txt
dev/
generated/
grunt-config.json.sample
Gruntfile.js.sample
.htaccess
.htaccess.sample
index.php
ISSUE_TEMPLATE.md
lib/
LICENSE_AFL.txt
LICENSE.txt
nginx.conf.sample
package.json.sample
.php_cs.dist
php.ini.sample
phpserver/
pub/
PULL_REQUEST_TEMPLATE.md
setup/
.travis.yml
update/
.user.ini
var/
vendor/

docker/env/mysql/*
